set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-18-104.zap-hosting.com;database=zap453902-1;userid=zap453902-1;password=yx5GeArNVJtISyZ3" 
endpoint_add_tcp "88.214.57.170:30106" 
endpoint_add_udp "88.214.57.170:30106" 
sv_maxclients 10
# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
ensure pandora
ensure loading-screen

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password bb409933a8

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)


# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "My new FXServer!"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Hide player endpoints in external log output.
sv_endpointprivacy true

onesync_enabled 0
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
add_ace group.admin webadmin allow
add_principal identifier.steam:11000010492f656 group.admin
stop webadmin
set steam_webApiKey "9FC5405FEBC21BBA433351E1B7490859"
set sv_UseDirectListing true
sets locale "root-AQ"
set sv_listingIPOverride "88.214.57.170"
